
body {
    color: #fff;
    padding: 10px;
    justify-content: center;
    border-radius: 5px;
    transform: rotate(360deg);
    animation: blinkingBackground 40s infinite;

}



h1 {
    font-size: xxx-large;
    align-self: center;
}

@keyframes blinkingBackground {
    0% {
        background-color: yellow;
    }

    5% {
        background-color: blue;
    }

    10% {
        background-color: red;
    }

    20% {
        background-color: green;
    }

    30% {
        background-color: yellow;
    }

    40% {
        background-color: blue;
    }

    50% {
        background-color: red;
    }

    60% {
        background-color: green;
    }

    80% {
        background-color: purple;
    }

    100% {
        background-color: pink;
    }



}

